/* You can add global styles to this file, and also import other style files */
/**css**/
body{
	font-family: 'Roboto', sans-serif;
}
.body_form{
	width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	background-image: url('assets/img/enquiry-01.jpg');
}
.body_form::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(41,44,51,0.6);
    pointer-events: none;
}
.body_form_content{
	width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(132,106,221,0.8);
    position: relative;
    z-index: 10;
    opacity: 0.85;
}
.body_form .input-group{
	border: 1px solid #e6e6e6;
    border-radius: 2px;
}
.body_form .input-group:focus{
	border: 1px solid #e6e6e6;
}

.body_form .input-group-text,  .body_form .form-control{
		background: transparent;
		border-radius: 0;
		border: none;
		height: 55px;
		width:  60px;
		justify-content: center;
		color: #999999;
}
.body_form .input-group-text i{
	font-size: 20px;
}
.body_form .form-control{
	color: #333333;
}
.body_form .form-control:focus{
	box-shadow: none;
}
